/* Main */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: teal;
    font-family: 'Recursive', sans-serif;
}

#wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(0,33,71);
    background: linear-gradient(22deg, rgba(0,33,71,1) 0%, rgba(57,100,137,1) 100%);
}
/* Header */
#mainHeader{
    display: flex;
    justify-content: center;
}

#headerLogo{
    padding: 15px;
    text-shadow: 2px 2px px rgb(36, 40, 44);
}

/* Main */
#mainContent{
    flex: 1;
}

#inputSection{
    justify-content: space-evenly;
    padding: 30px;
}

#outputSection{
    padding: 30px;
}

#mainBTN{
    font-family: 'Recursive', sans-serif;
    width: 15em;
    height: 5em;
    border: none;
    border-radius: 5px;
    background-color: firebrick;
}
.input{
    font-family: 'Recursive', sans-serif;
    width: 15em;
    height: 5em;
    border: none;
    border-radius: 5px;
    background-color: #B2FFFF;
    color: black;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}
/* Footer */
#mainFooter{
    display: flex;
    justify-content: center;
}

.footerText p{
    text-align: center;
}

@media (min-width: 425px){
    #mainBTN, .input {
        width: 20em;
        height: 5em;
    }
    body {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    /* #mainBTN, .input {
        width: 30em;
        height: 10em;
    } */
    body,#mainBTN, .input {
        font-size: 1.5rem;
    }
}

@media (min-width: 1920px) {
    /* #mainBTN, .input {
        width: 40em;
        height: 20em;
    } */
    body,#mainBTN, .input {
        font-size: 3rem;
    }
}